<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAU - FMC Project</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:300' rel='stylesheet' type='text/css'>
    <style>
    a{
        color:white !important;
    }
    .active1{
        background: #5E82CA !important;
    }
    a:hover{
        background: #5E82CA !important;
    }
        p{
         font-family: 'Comfortaa', cursive;
        }
</style>
</head>
<body ng-app="app" ng-controller="dataCtrl">
<div class="jumbotron" style="background:#03a9f4; font-family: 'Tangerine', cursive;">
    <div class="row">
        <div class="col-sm-6">
            <h1 style="color:white; margin-bottom:-5px; margin-top:-5px;">Department Scheduler</h1>
        </div>
    </div>
</div>
<div class="row text-center">
    <!--<div class="col-sm-12 text-center">-->
        <div class="btn-group col-sm-6 col-sm-push-3">
            <div  ng-class="{'active1': currentPage==='Home'}"><a class="btn btn-primary col-sm-4 " style="border-radius:0; border-right:2px solid white !important; background:#03a9f4; font-size:18px; font-family: 'Comfortaa', cursive; font-weight:bold;" href="#" ng-click="changeArea('Home')">Home</a></div>
            <div ng-class="{'active1': currentPage==='Team'}"><a class="btn btn-primary col-sm-4" style="border-radius:0; border-right:2px solid white !important; background:#03a9f4; font-size:18px; font-family: 'Comfortaa', cursive; font-weight:bold;" href="#" ng-click="changeArea('Team')">Meet The Team</a></div>
            <div><a class="btn btn-primary col-sm-4" style="border-radius:0; background:#03a9f4; font-size:18px; font-family: 'Comfortaa', cursive; font-weight:bold;" href="http://nauimgcap.wikidot.com/" >Wiki</a></div>
        </div>
    <!--</div>-->
</div>


    <div class="container" ng-show="currentPage==='Home'" style="background:white;">
        <div class="row ">
            <div class="col-sm-12 text-center">
                <h1 style="font-size:60px; font-family: 'Tangerine', cursive;">Project Overview</h1>
            </div>
            <div class="col-sm-12" style="font-size:16px; font-family: 'Comfortaa', cursive;">
               <p>
                   &nbsp;&nbsp;&nbsp;&nbsp;We are currently tasked with creating a way to effectively and efficiently help the local hospital, Flagstaff Medical Center, to automate their
                   scheduling process. This consists of weekly meetings with our NAU mentor and bi-weekly meetings with the FMC staff. On this website you will find our
                   prototype descriptions, information about our team, and a link to go to our wiki. The wiki contains all of our paperwork information which includes the
                   requirements document, use cases, and much more.
               </p>
            </div>
        </div>
    </div>
    <div class="container" ng-show="currentPage==='Team'">
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-12 text-center" style="margin-bottom: 20px; border-bottom:2px solid lightgray;">
                <h1 style="font-size:60px; font-family: 'Tangerine', cursive;">Meet the Team</h1>
            </div>
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive img-circle" src="kris.jpg" width="300px" height="300px">
                <h4 style="text-align: center;">Kris Bullins</h4>
            </div>
            <div class="col-sm-6">
               <p>An undergraduate student at Northern Arizona University majoring in Applied Computer Science. He has a broad range of experience developing innovative technologies through the use of learned software engineering techniques, and practice. As a student at Northern Arizona University, he has focused on learning a broad range of programming languages and their development tools. He has also honed his communication skills which have helped him be successful
                both academically and professionally. Kristopher is the primary contact between the development team, the faculty mentor, and the industry client. </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive img-circle" src="kyle.jpg" width="300px;" height="300px">
                <h4>Kyle Granchelli</h4>
            </div>
            <div class="col-sm-6">
                <p>An Applied Computer Science major with the intent on going into security, Kyle is primarily focused on database operations for the scheduler application.
                    He has previous experience and knowledge on database manipulation from classes and personal exploration.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive img-circle" src="duke.jpg" width="300px;" height="300px;">
                <h4>Duke Ayers</h4>
            </div>
            <div class="col-sm-6">
                <p>  A Computer Science major looking to enhance his skills in any and all fields,
                    Duke is primarily focused on crafting the front-end of the scheduler application through the use of rising frameworks such as AngularJS
                    with the help of Bootstrap.He is also working with Kyle to develop the back-end database that meets and exceeds all of the requirements
                    for the scheduler application. </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive img-circle" src="ryan.jpg" width="300px;" height="300px;">
                <h4>Ryan Dooley</h4>
            </div>
            <div class="col-sm-6">
                <p> A Computer Science major, Ryan is primarily focused on the design and development of the front-end interface of the software system.
                    Ryan is looking to strengthen his knowledge with tools, such as Bootstrap, that are used to create the front-end of websites and applications.
                    He also is looking gain experience in efficiently translating user requirements into an application that the client is looking for.  </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive img-circle" src="http://placehold.it/300x300">
                <h4>Jarrin Oishi</h4>
            </div>
            <div class="col-sm-6">
               <p>A Computer Science major, Jarrin is primarily focused on creating and maintaining any and all documentation related to the
                    scheduler application and its development.</p>
            </div>
        </div>
    </div>

</body>
</html>
