<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>NAU - FMC Project</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https:////maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="app.js"></script>

<style>
    a{
        color:white !important;
    }
    .active1{
        background: #5E82CA !important;
    }
    a:hover{
        background: #5E82CA !important;
    }
</style>
</head>
<body ng-app="app" ng-controller="dataCtrl">
<nav class="navbar navbar-default" role="navigation" style="background:#224DA2;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Department Scheduler</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active1': currentPage==='Home'}"><a href="#" ng-click="changeArea('Home')">Home</a></li>
                <li ng-class="{'active1': currentPage==='Team'}" class=""><a href="#" ng-click="changeArea('Team')">Meet The Team</a></li>
                <li ng-class="{'active1': currentPage==='Prototype'}"><a href="#" ng-click="changeArea('Prototype')">Prototypes</a></li>
                <li ><a href="http://nauimgcap.wikidot.com/" >Our Wiki</a></li>

                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">ProtoTypes <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu" style="background:#224DA2;">-->
                        <!--<li><a href="#">First Pro</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    </nav>

    <div class="container" ng-show="currentPage==='Home'" >
        <div class="row text-center">
            <div class="col-sm-12" style="margin-bottom: 20px; border-bottom:2px solid lightgray;">
                <h1>Project Overview</h1>
            </div>
            <div class="col-sm-8 col-sm-offset-2" style="font-size:16px;">
               <p>
                   We are currently tasked with creating a way to effectively and efficiently help the local hospital, Flagstaff Medical Center, to automate their
                   scheduling process. This consists of weekly meetings with our NAU mentor and bi-weekly meetings with the FMC staff. On this website you will find our
                   prototype descriptions, information about our team, and a link to go to our wiki. The wiki contains all of our paperwork information which includes the
                   requirements document, use cases, and much more.
               </p>
            </div>
        </div>
    </div>
    <div class="container" ng-show="currentPage==='Team'">
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-12 text-center" style="margin-bottom: 20px; border-bottom:2px solid lightgray;">
                <h1>Meet the Team</h1>
            </div>
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive" src="kris.jpg">
                <h4 style="text-align: center;">Kris Bullins</h4>
            </div>
            <div class="col-sm-6">
               <p>An undergraduate student at Northern Arizona University majoring in Applied Computer Science. He has a broad range of experience developing innovative technologies through the use of learned software engineering techniques, and practice. As a student at Northern Arizona University, he has focused on learning a broad range of programming languages and their development tools. He has also honed his communication skills which have helped him be successful
                both academically and professionally. Kristopher is the primary contact between the development team, the faculty mentor, and the industry client. </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive" src="kyle.jpg">
                <h4>Kyle Granchelli</h4>
            </div>
            <div class="col-sm-6">
                <p>An Applied Computer Science major with the intent on going into security, Kyle is primarily focused on database operations for the scheduler application.
                    He has previous experience and knowledge on database manipulation from classes and personal exploration.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive" src="duke.jpg">
                <h4>Duke Ayers</h4>
            </div>
            <div class="col-sm-6">
                <p>  A Computer Science major looking to enhance his skills in any and all fields,
                    Duke is primarily focused on crafting the front-end of the scheduler application through the use of rising frameworks such as AngularJS
                    with the help of Bootstrap.He is also working with Kyle to develop the back-end database that meets and exceeds all of the requirements
                    for the scheduler application. </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive" src="ryan.jpg">
                <h4>Ryan Dooley</h4>
            </div>
            <div class="col-sm-6">
                <p> A Computer Science major, Ryan is primarily focused on the design and development of the front-end interface of the software system  </p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-sm-2 col-sm-offset-2 text-center">
                <img class="img-responsive" src="http://placehold.it/200x200">
                <h4>Jarrin Oishi</h4>
            </div>
            <div class="col-sm-6">
               <p>A Computer Science major, Jarrin is primarily focused on creating and maintaining any and all documentation related to the
                    scheduler application and its development.</p>
            </div>
        </div>
    </div>


    <div class="container" ng-show="currentPage==='Prototype'" >
        <div class="row text-center">
            <div class="col-sm-12" style="margin-bottom: 20px; border-bottom:2px solid lightgray;">
                <h1>Prototype One</h1>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="prototype1.png" alt="Demonstration of Tabular Data"/>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="prototype12.png" alt="Model Demonstration"/>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="prototype123.png" alt="Google Calendar API Demonstration"/>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>General Description: </h3>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; Our first prototype was primarily focused on getting our web technologies up and running. This meant that we needed to ensure that AngularJS, PHP, and Bootstrap were going to
                    work well with one another with as minimal problems possible. We all took the time to delve into the Google Calendar API and pair it with a plugin that would output the data
                    in a nice format. This meant that we needed to use OAuth to interact with the API to send/receive data (we made it possible to create an event and insert it into the calendar
                    which is shown in Photo 2).
                </p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Another key part to this prototype was the use of AJAX to grab the data (display it into a calendar), and send data to the API (insert an event into the calendar). Finally,
                    we are using PHP, which means that we have a MySQL DB set up on our backend. We placed some example data into the database and used PHP to make the call to the database. AngularJS
                    played a big part in calling that PHP file that sent the request for the information to the database - this feature allows us to have a single page application. This prototype will
                    be stored for later, for now we are going to be focusing on creating prototype 2. If you would like a copy of our prototype, please visit our Wiki and look for instructions there.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12" style="margin-bottom: 20px; border-bottom:2px solid lightgray;">
                <h1>Prototype Two (In Progress...)</h1>
            </div>
        </div>

    </div>
</body>
</html>